@font-face {
    font-family: 'pkmn';
    src: url('/font/pkmn.woff2') format('woff2'),
         url('/font/pkmn.woff') format('woff'),
         url('/font/pkmn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Pokemon GB";
    src: url("/styles/styles/fonts/Pokemon GB.woff") format("woff");
    src: url("/styles/styles/fonts/Pokemon GB.ttf") format("truetype"); }

@font-face {
  font-family: 'Nunito';
  src: url('/font/Nunito/Nunito-VariableFont_wght.ttf') format('TrueType'),
       url('/font/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: white;
}
header {
    background: url(/img/sky3.gif) repeat-x;
    background-size: 250px;
    position:static;
    height: 240px;
    display: grid;
  }
  
#snoring {
    height: 100px;
    width: 100px;
}
  
header > div {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10%;
}
  
header > div > div{
    font-family: 'pkmn';
    font-weight: 600;
    font-size: 22px;
    color: #3b3651;
}
  
header  p {
    margin: 0;
    padding: 2px;
}

#sidebar_left {
    display: grid;
    float: left;
    width: auto;
    max-width: 15%;
    margin: 0.5%;
    margin-top: 3%;
    border-image: url(/styles/styles/images/frame-hd.png) 42 round;
    border-width: 1em;
    border-style: solid;
}

#sidebar_left a {
    position: relative;
    font-family: 'Pokemon GB';
    font-size: 80%;
    text-decoration: none;
    color: black;
    margin-top: 3%;
    padding-top: 1%;
    padding-left: 10%;
    
}

#sidebar_left a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 2px;
    height: 2px;
    font-size: 2px;
    color: #181010;
    box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010, 2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010, 3em 2em 0 #181010, 4em 2em 0 #181010, 1em 3em 0 #181010, 2em 3em 0 #181010, 3em 3em 0 #181010, 4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010, 2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010, 1em 5em 0 #181010, 2em 5em 0 #181010, 3em 5em 0 #181010, 1em 6em 0 #181010, 2em 6em 0 #181010;
}

#sidebar_right {
    display: grid;
    float: right;
    width: 18%;
    background-color: #c3bcdf;
    margin: 1%;
    margin-top: 3%;
    border-radius: 10px;
}

#sidebar_right > div {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin: 5%;
    border-radius: 10px;
}

#sidebar_right a{
    background-color: #3b3651;
    color: rgb(255, 242, 154);
    text-align: center;
    font-size: 120%;
    width: 90%;
    border-radius: 6px;
    margin: auto;
    padding: 4%;
    padding-top: 7%;
    padding-bottom: 7%;
    margin-top: 7%;
    text-decoration: none;
    transition: 0.3s;
}

#sidebar_right a:hover {
    background-color: #9a90c5;
    color: rgb(255, 242, 154);
    transition: 0.3s;
}

#sidebar_right p {
    background-color: rgb(255, 248, 239);
    border-radius: 6px;
    padding: 5%;
    margin-bottom: 1%;
}


main {
    background-color: #c3bcdf;
    width: 60%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-top: 3%;
    margin-bottom: 2%;
    border-radius: 10px;
}



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 95%;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #3b3651;
    list-style-type: none;
    border-radius: 6px;
    font-size: 120%;
    
  }
  
.navbar > a {
    width: 18%;
    padding: 2%;
    text-decoration: none;
    text-align: center;
    color:  rgb(255, 242, 154);
    transition: 0.3s;
  }

.navbar > a:hover {
  background-color: #9a90c5;
  color: rgb(255, 242, 154);
  transition: 0.3s;
  }

.navbar > .active {
  background-color: #6e6692;
  color: rgb(255, 242, 154);
  }

#about {
    display: grid;
    font-size: 20px;
    margin: auto;
    max-width: 95%;
    background-color: rgb(255, 248, 239);
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}

  
#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 80%;
    margin-top: 0;
}

#intro > h1{
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
  
}

#intro > p {
    margin: 0;
    padding: 2%;
    padding-top: 0%;
    line-height: 1.5em;
}


#github_link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
}

.lastMod {
    display: grid;
    justify-items: center;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 2%;
}